package components

import (
	"fmt"

	"github.com/damongolding/immich-kiosk/internal/common"
	"github.com/damongolding/immich-kiosk/internal/kiosk"
	"github.com/damongolding/immich-kiosk/internal/templates/components"
	"github.com/damongolding/immich-kiosk/internal/templates/components/memories"
	"github.com/damongolding/immich-kiosk/internal/templates/partials"
	"strings"
)

func modifyGIFAssets(viewData *common.ViewData) {
	for i, asset := range viewData.Assets {
		if strings.EqualFold(asset.Asset.OriginalMimeType, kiosk.MimeTypeGif) {
			viewData.Assets[i].ImageData = fmt.Sprintf("/image/%s?use_original_image=true", asset.Asset.ID)
		}
	}
}

// Image is the main entry point for rendering images.
// It determines whether to use a single, split, or collage layout based on viewData,
// and renders the history form.
//
// Parameters:
//   - viewData: ViewData containing all necessary information for rendering the images.
//   - secret: The secret key used for generating the signature.
templ Image(viewData common.ViewData, secret string, JSScripts ...components.AssetScript) {
	{{ modifyGIFAssets(&viewData) }}
	if viewData.Layout == kiosk.LayoutCollage {
		<div class="frame frame--image" data-duration={ fmt.Sprintf("%d", viewData.Duration) }>
			@memories.Collage(viewData, secret)
		</div>
	} else if len(viewData.Assets) < 2 {
		@layoutSingleView(viewData)
	} else {
		@layoutSplitView(viewData)
	}
	@partials.RenderHistory(viewData)
	if viewData.MoreInfo.Display {
		@partials.RenderMoreInfo(viewData, secret)
	}
	for _, s := range JSScripts {
		@templ.JSFuncCall(s.FuncName, s.Args...)
	}
}
